#####################
## Specific to Docker
#####################

/.git/

.dockerignore
Dockerfile
README.md

########################
## Same as in .gitignore
########################

## Dependencies
/node_modules/
/.pnp
.pnp.js
.pnpm-debug.log*

## Next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

## Testing
/coverage/

## Misc
.DS_Store
.env*.local
*.log
*.pem

## App-specific
/profile-infos/
