#######################
## Specific to Prettier
#######################

## Ignore all files (but still allow sub-folder scanning)
*
!*/

## Allow certain file types
!*.cjs
!*.js
!*.json
!*.md
!*.mjs
!*.ts
!*.tsx
!*.yaml
!*.yml

########################
## Same as in .gitignore
########################

## Dependencies
/node_modules/
/.pnp
.pnp.js
.pnpm-debug.log*

## Next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

## Testing
/coverage/

## Misc
.DS_Store
.env*.local
*.log
*.pem

## App-specific
/profile-infos/

#########################
## Shared between linters
#########################

/pnpm-lock.yaml
