@import "tailwindcss";

@layer base {
  html {
    @apply h-full w-full dark:bg-zinc-900 dark:text-gray-100;
    font:
      14px Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
    line-height: 1.4em;
  }

  @media (max-width: 440px) {
    html {
      font-size: 13px;
    }
  }

  @media (max-width: 370px) {
    html {
      font-size: 12px;
    }
  }

  h1 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
  }

  a {
    @apply border-b-[1px] border-b-blue-600/20 text-blue-600 no-underline dark:border-b-blue-400/20 dark:text-blue-400;
  }
  a:visited,
  a:visited > * {
    @apply border-b-violet-800/20 text-violet-800 dark:border-b-violet-400/20 dark:text-violet-400;
  }
  a:hover,
  a:hover > * {
    @apply border-b-red-600/30 text-red-600 dark:border-b-red-500/30 dark:text-red-500;
  }

  p {
    @apply mb-5;
  }
  li {
    @apply mb-5;
  }
}

@layer components {
  .description-on-index-page {
    @apply mb-0 pb-8 pt-4;
  }

  @media (min-width: 310px) {
    body.en .description-on-index-page {
      @apply text-center;
    }
    body.en .description-on-index-page span {
      @apply block;
    }
  }

  @media (min-width: 470px) {
    body.ru .description-on-index-page {
      @apply text-center;
    }
    body.ru .description-on-index-page span {
      @apply block;
    }
  }

  /* nprogress */
  html {
    --nprogress-color: rgba(0, 0, 0, 0.75);
  }
  @media (prefers-color-scheme: dark) {
    html {
      --nprogress-color: rgba(255, 255, 255, 0.75);
    }
  }
}
