@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full w-full;
    font: 14px/1.4rem Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  @media (max-width: 440px) {
    html {
      font-size: 13px;
    }
  }

  @media (max-width: 370px) {
    html {
      font-size: 12px;
    }
  }

  h1 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: rgb(8, 100, 210);
    border-bottom: 1px solid !important;
    border-bottom-color: rgba(8, 100, 210, 0.2) !important;
  }
  a:visited {
    color: rgb(85, 26, 139);
    border-bottom-color: rgba(85, 26, 139, 0.2) !important;
  }
  a:hover {
    color: #ff0000;
    border-bottom-color: rgba(255, 0, 0, 0.3) !important;
  }

  p {
    @apply mb-5;
  }
  li {
    @apply mb-5;
  }
}

@layer components {
  .description-on-index-page {
    @apply mb-0 pt-4 pb-8;
  }

  @media (min-width: 310px) {
    body.en .description-on-index-page {
      @apply text-center;
    }
    body.en .description-on-index-page span {
      display: block;
    }
  }

  @media (min-width: 470px) {
    body.ru .description-on-index-page {
      @apply text-center;
    }
    body.ru .description-on-index-page span {
      display: block;
    }
  }
}
